[Unit]
Description=Entrez les url des vidéos que vous voulez télécharger dans le fichier /srv/yt/url_list.txt et le progra>

[Service]
ExecStart=/srv/yt/yt-v2.sh
User=yt

[Install]
WantedBy=multi-user.target